/*=============== GOOGLE FONTS ================*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(195, 100%, 30%);
    --gradient-color: linear-gradient(90deg,
            hsl(210, 55%, 20%),
            hsl(192, 62%, 25%));
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(210, 55%, 85%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
    /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.scrolled {
    background: var(--body-color);
}

.nav__logo {
    width: 36px;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210, 55%, 24%, .1);
        padding-block: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    transition: color .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.nav__button-link,
.nav__button-ghost {
    display: inline-block;
    color: var(--title-color);
}

.nav__button-ghost {
    background-color: hsla(0, 0%, 100%, .3);
    padding: 1rem 2.5rem;
    border: 2px solid var(--title-color);
    border-radius: .75rem;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.bg-header {
    box-shadow: 0 1px 16px hsla(210, 55%, 24%, .12);
}

/*Footer*/

.footer {
    position: relative;
    margin-top: 3rem;
    padding: 3rem 0;
    color: #fff;
    background: #1D262F;
    margin-top: auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.footer__col-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.footer__col-title *~span {
    margin-left: 1rem;
}

.footer a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.footer a *~span {
    margin-left: 1rem;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__logo {
    width: 80px;
    height: auto;
}

/* ===========================PETNIFICENT======================================*/
.about-petnificent {
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
}

.about-petnificent,
.mainNav,
.mainHeading {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

.about-petnificent,
.mainNav,
.mainHeading :focus {
    outline: 0;
}

.mainNav {
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9197ae;
    text-transform: uppercase;
    padding: 0 40px;
}

@media screen and (max-width: 799px) {
    .mainNav {
        padding: 0 20px;
    }
}

.mainNav__logo {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
}

.mainNav__links {
    display: flex;
}

@media screen and (max-width: 799px) {
    .mainNav__links {
        display: none;
    }
}

.mainNav__link {
    letter-spacing: 1px;
    font-size: 14px;
    margin-left: 20px;
    font-weight: 600;
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 2px 4px;
    transform: translateY(0px);
}

.mainNav__link:hover {
    transform: translateY(-5px);
    box-shadow: inset 0px -20px 0px white;
}

.mainNav__icon {
    background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

@media screen and (max-width: 799px) {
    .mainNav__icon {
        display: block;
    }
}

.mainHeading {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

.mainHeading :focus {
    outline: 0;
}

.mainHeading {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 40px;
    background-image: linear-gradient(to top, hsl(210, 55%, 85%), 100%, #e7f0fd 100%);
}

@media screen and (max-width: 799px) {
    .mainHeading {
        padding: 0 20px;
    }
}

.mainHeading__content {
    max-width: 1110px;
    min-height: 600px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 799px) {
    .mainHeading__content {
        min-height: 500px;
    }
}

.mainHeading__text {
    z-index: 1;
    color: var(--body-font);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    max-width: 620px;
    margin-top: 100px;
    width: 70%;
    backdrop-filter: blur(8px);
    animation: text 0.8s 0.6s ease backwards;
    position: relative;
}

.mainHeading__text:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    animation: line 0.8s 0.6s ease backwards;
}

@keyframes line {
    0% {
        right: 0;
        width: 100%;
        opacity: 0;
    }
}

@media screen and (max-width: 799px) {
    .mainHeading__text {
        padding: 20px;
        margin: 90px 0 40px 0;
    }
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
}

.mainHeading__preTitle {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 16px;
    color: #637498;
}

.mainHeading__title {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 24px;
    font-size: 40px;
    color: #637498;
}

@media screen and (max-width: 799px) {
    .mainHeading__title {
        margin-bottom: 16px;
        font-size: 28px;
    }
}

.mainHeading__description {
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 26px;
}

@media screen and (max-width: 799px) {
    .mainHeading__description {
        font-size: 14px;
    }
}

.mainHeading__image {
    right: 0;
    max-width: 600px;
    width: 60%;
    height: 600px;
    transform: translatey(100px);
    position: absolute;
    overflow: hidden;
    animation: image 0.6s 0.2s ease backwards;
}

@media screen and (max-width: 799px) {
    .mainHeading__image {
        height: 480px;
        width: 70%;
        transform: translatey(80px);
        right: -6%;
    }
}

@keyframes image {
    0% {
        opacity: 0;
        transform: translatey(200px);
    }
}

.mainHeading__image:before,
.mainHeading__image:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 100%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    opacity: 1;
    left: 0;
}

.mainHeading__image:before {
    animation: imageBefore 1s 0.2s ease backwards;
}

@keyframes imageBefore {
    0% {
        height: 100%;
        top: 0;
    }
}

.mainHeading__image:after {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    height: 100%;
    top: 0;
    opacity: 0.2;
}

.mainHeading__image img {
    width: 100%;
    height: 100%;
}

.cta {
    padding: 16px 32px;
    color: #637498;
    background-color: transparent;
    border: 1px solid rgba(99, 116, 152, 0.4);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 32px;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px rgba(99, 116, 152, 0.2);
    transition: all 0.4s ease;
}

.cta:hover {
    border: 1px solid rgba(99, 116, 152, 0.1);
    box-shadow: inset 0px -80px 0px rgba(99, 116, 152, 0.1);
    transform: translateY(-5px);
}

@media screen and (max-width: 799px) {
    .cta {
        margin-top: 16px;
    }
}