/*=============== GOOGLE FONTS ================*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(195, 100%, 30%);
    --gradient-color: linear-gradient(90deg,
            hsl(210, 55%, 20%),
            hsl(192, 62%, 25%));
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(210, 55%, 85%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
    /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.scrolled {
    background: var(--body-color);
}

.nav__logo {
    width: 36px;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210, 55%, 24%, .1);
        padding-block: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    transition: color .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;
}

.nav__button-link,
.nav__button-ghost {
    display: inline-block;
    color: var(--title-color);
}

.nav__button-ghost {
    background-color: hsla(0, 0%, 100%, .3);
    padding: 1rem 2.5rem;
    border: 2px solid var(--title-color);
    border-radius: .75rem;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.bg-header {
    box-shadow: 0 1px 16px hsla(210, 55%, 24%, .12);
}

/*=============== HOME ===============*/
.home {
    position: relative;
}

.home__container {
    padding-top: 8rem;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    /*height: 100vh;*/
}

.home__content {
    position: relative;
    z-index: 2;
}

.home__data {
    display: grid;
    row-gap: .5rem;
}

.home__subtitle {
    font-size: var(--small-font-size);
    color: var(--first-color);
    letter-spacing: 3px;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);
    color: var(--title-color);
}

.home__description {
    margin-bottom: 1.5rem;
}


.home__button {
    display: inline-block;
    background: var(--gradient-color);
    color: var(--white-color);
    width: max-content;
    padding: 1rem 2rem;
    border-radius: .75rem;
    box-shadow: 0 24px 32px hsla(210, 54%, 24%, .3);
}

.home__bird-1,
.home__bird-2 {
    position: absolute;
    width: 60px;
}

.home__bird-1 {
    bottom: -6rem;
    rotate: -30deg;
}

.home__bird-2 {
    top: 4.5rem;
    right: 0;
    rotate: -15deg;
}

.home__images {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.home__images img {
    /*position: absolute;
  max-width: initial;
  width: 600px;
  left: -7rem;
  bottom: 0;*/

    position: absolute;
    max-width: 100%;
    height: auto;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 305px) {
    .container {
        margin-inline: 1rem;
    }

    .home__title {
        font-size: 2rem;
    }

    .home__container {
        height: 950px;
        padding-top: 10rem;
    }

    .home__bird-1,
    .home__bird-2 {
        width: 80px;
    }

    .home__bird-1 {
        bottom: -7rem;
        left: -7rem;
    }

    .home__bird-2 {
        top: 0;
        right: -6rem;
    }
}

/* For taller devices */
@media screen and (min-width: 376px) and (min-height: 800px) {
    .home__container {
        padding-top: 10rem;
    }

    .home__images img {
        width: 700px;
        left: -12rem;
    }
}

@media screen and (max-width: 430px) {
    .home__bird-2 {
        right: -1rem;
        margin-top: 5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 480px) {
    .home__content {
        max-width: 305px;
    }

    .home__bird-2 {
        right: -3rem;
    }

    .home__images img {
        width: initial;
        left: 0;
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 5rem;
    }

    .nav__buttons {
        flex-direction: row;
        column-gap: 3rem;
        padding-right: 20px;
    }

    .nav__logo {
        width: 48px;
        padding-left: 20px;
    }

    .home__content {
        max-width: 550px;
    }

    .home__data {
        row-gap: .10rem;
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .home__description {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1120px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1300px) {
    .home__container {
        height: 950px;
        padding-top: 10rem;
    }

    .home__bird-1,
    .home__bird-2 {
        width: 80px;
    }

    .home__bird-1 {
        bottom: -7rem;
        left: -7rem;
    }

    .home__bird-2 {
        top: 0;
        right: -6rem;
    }

    .home__images img {
        bottom: -3rem;
    }

    ::-webkit-scrollbar {
        width: .6rem;
        border-radius: .5rem;
        background-color: hsl(220, 24%, 15%);
    }

    ::-webkit-scrollbar-thumb {
        background-color: hsl(220, 24%, 25%);
        border-radius: .5rem;
    }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) {
    .container {
        max-width: 1300px;
    }

    .home__container {
        height: 1200px;
        padding-top: 15rem;
    }
}

/*Footer*/

.footer {
    position: relative;
    margin-top: 3rem;
    padding: 3rem 0;
    color: #fff;
    background: #1D262F;
    margin-top: auto;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.footer__col-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.footer__col-title *~span {
    margin-left: 1rem;
}

.footer a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.footer a *~span {
    margin-left: 1rem;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__logo {
    width: 80px;
    height: auto;
}

/*--------------------------------Restore----------------------------------*/

.restore-banner {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 5rem;
    color: #fff;
    text-align: center;
    background-image: url("../img/restore-headline.jpg") no-repeat center center;
    background-size: cover;
}

.restore-style1 {
    height: 70vh;
    background-color: #B6D3D9;
    color: var(--text-color);
}

.restore__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.restore__column-1,
.restore__column-2 {
    padding: 2px;
}

.restore-style2 {
    height: 65vh;
    background-color: #ecf0f1;
    color: var(--text-color);
    padding-top: 5em;
}

.restore__column-2,
.restore__column4 {
    line-height: 1.5em;
    width: 100%;
    margin: auto;
}

.restore-phone1 {
    width: 70%;
    height: auto;
    margin: auto;
}

#clouds path {
    fill: #ecf0f1;
    stroke: #ecf0f1;
}

#clouds {
    height: 10em;
    margin-top: -100px;
}

.clouds-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -1px;
}

#curveUpColor path {
    fill: #F5D49D;
    stroke: #F5D49D;
}

.restore-style3 {
    height: 70vh;
    background-color: #f5d49d;
    color: var(--text-color);
    padding-top: 2%;
}

.curveUp-container {
    padding-bottom: 0px;
    margin-top: -8%;
}